.c-close {

  width: 20px; height: 20px;
  opacity: 0.3;

	&:hover { opacity: 1; }

	&:before, &:after {
		position: absolute;
		right:0;
		content: ' ';
		height: 20px;
		width: 2px;
		background-color: #333;
	}

	&:before { transform: rotate(45deg); }
	&:after { transform: rotate(-45deg); }

}


