
// overwrite owl theme

/* uncss:ignore */
.owl-theme .owl-dots {
	margin: auto;
  	position: absolute;
  	bottom:6px;
  	text-align:center;
  	width:100%;
}

/* uncss:ignore */
.owl-theme .owl-dots .owl-dot span {
	margin:5px;
	background: #fff;
	width:8px; 
	height:8px;
}

/* uncss:ignore */
.owl-theme .owl-dots .owl-dot.active span{
	background: $navy;
}


.c-carousel {

	padding:0 30px;
	postion:relative;
}

.c-carousel__item {

}

/* uncss:ignore */
.c-carousel .owl-nav {
	
}

/* uncss:ignore */
.c-carousel .owl-prev {
	position:absolute;
	left:10px;
	top:35%;
}
/* uncss:ignore */
.c-carousel .owl-next {
	right:10px;
	position:absolute;
	top:35%;
}