
.page-title {
	margin: 0 auto;
	padding-bottom: 5px;
	border-bottom:1px solid #ddd;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: $font-weight--ultra-bold;
	line-height:1.3;

	&--404 {
		font-size:140px;
		border-bottom:0;
		padding-bottom:0;
		letter-spacing: -5px;
	}
}

.page-delimit {
	font-size: 16px;
	font-weight: $font-weight--ultra-bold;
	line-height:1.4;
	text-transform:uppercase;
	padding-left:20px;
	padding-right:20px;
	@include breakpoint($sm) {
		padding-left:0;
	}
}

.page-content {
 	a { }
 	a.btn { border-bottom:0;}
}

.page-copy {
	max-width:80%;
	margin-left: auto; margin-right: auto;
}