//magazine /guides
.publication {

	background-color: $color-background--soft;
	height:100%;
	padding:40px 0;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;

	@include breakpoint($ms) { padding:12% 0; }
	@include breakpoint($sm) { padding:40px 0}

	> img {
		height:auto;
		width: auto;
		margin: 0 auto;
	}
	
}